html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px }
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
	font-family: arial
}
#query_div {
	position: fixed;
	top: 30px;
	left: 100px;
	width: 35%;
	height: 32px;
	background: #fff;
	z-index: 100000;
	border: 1px solid #ccc;
	overflow: hidden
}
#query_div .box {
	border: none;
	outline: none;
	padding-left: 10px;
	height: 32px;
	font-size: 14px;
	width: 80%;
	float: left;
	overflow: hidden
}
#query_div .btn {
	border: none;
	outline: none;
	margin-left: -10px;
	height: 32px;
	font-size: 14px;
	width: 20%;
	float: left;
	background: #4185F3;
	color: #fff;
	cursor: pointer;
}